body {
    margin: 0px;
    color: white;
    background-color: #1a1a1d;
    /* font-family: Copperplate Gothic; */
    font-family: Courier New;
}
* {
    margin: 0px;
    padding: 0px;
}
code {
    background-color: rgb(101, 100, 100);
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
}
.color-green {
    color: #5CDB95;
}
.header {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    border-radius: 20px;
}

.section-1 {
    margin: 30px;
    padding-top: 100px;
}
.section-1 div {
    margin: 5px 0px;
}
.section-1 h1 {
    font-size: 30px;
}
.section-1 p {
    margin-top: 20px;
    font-weight: 600;
}
.input-form {
    padding: 3px 0px;
    width: 400px;
}